.cache/
.elsa
devdocs/
eln-cache/
elpa/
elpaca/
eshell/
etc/
image-dired/
multisession/
parinfer-rust/
persist/
persp-confs/
request/
scratch/
tmp/
transient/
tree-sitter/
undo-fu-session/
url/
var/
modules/custom/

.emacs-pid
.lsp-session-v1
.org-id-locations
.persistent-scratch
bookmarks
custom.el
forge-database.sqlite
history
org-roam.db
places
projectile-bookmarks.eld
projects
recentf
tramp
