.cache/
eln-cache/
elpa/
elpaca/
eshell/
etc/
multisession/
parinfer-rust/
persp-confs/
tmp/
transient/
tree-sitter/
undo-fu-session/
url/
var/

.emacs-pid
.lsp-session-v1
.org-id-locations
.persistent-scratch
bookmarks
custom.el
forge-database.sqlite
history
org-roam.db
places
projectile-bookmarks.eld
projects
recentf
tramp
