.cache/
eln-cache/
elpa/
elpaca/
eshell/
etc/
parinfer-rust/
persp-confs/
tmp/
transient/
tree-sitter/
undo-fu-session/
var/

.emacs-pid
.persistent-scratch
forge-database.sqlite
history
org-roam.db
places
projectile-bookmarks.eld
projects
recentf
tramp
